<!DOCTYPE html>
<meta charset="utf-8">
<script src="lib/d3.v3.js"></script>
<script src="lib/render.js"></script>
<script src="http://github.com/jashkenas/coffee-script/raw/master/extras/coffee-script.js"></script>
<style>
  body { 
    background: rgba(245, 245, 245, 1);
    font-family: Menlo;
    color: #555;
    margin: 25px;
  }
</style>
<body>
  <canvas id="viz"></canvas>
  <div id="info"></div>

<script type="text/coffeescript">
  $ = (id) -> document.getElementById id

  info = $('info')
  canvas = $('viz')
  canvas.width = 500
  canvas.height = 500
  ctx = canvas.getContext("2d")

  x = d3.scale.linear()
    .range([0, canvas.width])
    .domain([-200, 200])

  y = d3.scale.linear()
    .range([canvas.height, 0])
    .domain([0, 400])

  renderPointables = (frame) ->
    ctx.fillStyle = "rgba(245, 245, 245, 0.3)"
    ctx.fillRect 0, 0, canvas.width, canvas.height
    ctx.fillStyle = "#555"
    if frame.pointables?
      for p in frame.pointables
        pos = p.tipPosition
        ctx.fillRect x(pos[0]), y(pos[1]), 14, 14

  render = (err, data) ->
    if err
      alert err.statusText 
    else
      window.data = data
      last = data.length - 1
      i = 0
      microsecs = (data[last].timestamp - data[0].timestamp)
      step = (microsecs / 1000) / data.length

      seconds = microsecs / 1000000
      info.innerHTML = "Clip Length: #{seconds} secs"

      run = ->
        i = 0 if i is last
        frame = data[i]
        renderPointables(frame)
        i++
        setTimeout(run, step)

      run()

  load = (file) -> d3.json file, render

  load "data/hand.json"
</script>
